.header {
  background-color: $header;
  height: 4%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .minimaze {
    position: relative;
    width: 16px;
    padding: 12px 4px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 6px;
      width: 11px;
      height: 2px;
      background-color: $base;
    }
    
    &:hover {
      transition: $transition;
      background-color: $transition-color;
    }

    &:hover::after {
      transition: $transition;
      background-color: $color-white;
    }
  }

  .maximaze {
    position: relative;
    width: 16px;
    padding: 12px 4px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 6px;
      width: 8px;
      height: 6px;
      background-color: $header;
      border: 2px solid $base;
    }

    &:hover::after {
      background-color: $transition-color;
      transition: $transition;
      border-color: $color-white;
    }

    &:hover {
      transition: $transition;
      background-color: $transition-color;
    }
  }

  .close {
    position: relative;
    width: 16px;
    padding: 12px 4px;
    cursor: pointer;
  
    &::after, &::before {
      content: '';
      position: absolute;
      bottom: 10px;
      left: 6px;
      width: 11px;
      height: 2px;
      background-color: $base;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &:hover {
      transition: $transition;
      background-color: $color-red;
    }

    &:hover::after,  &:hover::before {
      transition: $transition;
      background-color: $color-white;
    }
  }
}