.users-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: $standart-width;
  @include column;

  .user-field {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    cursor: pointer;
    transition: $transition;
  
    &:hover {
      background-color: $hover-color;
    }
  
    .photo {
      width: 45px;
      height: 45px;
      border-radius: 50px;
      margin-right: 10px;
    }
  
    .no-photo {
      width: 45px;
      height: 45px;
      background-color: $photo-color;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
  
      .txt {
        color: $color-white;
        font-size: 16px;
        letter-spacing: 1px;
      }
  
      i::before {
        color: $color-white;
        font-size: 26px;
      }
    }
  
    .main-info {
      @include column;
      justify-content: space-between;
  
      .title, .message {
        margin: 0;
        padding: 4px;
      }
  
      .title {
        color: $color-white;
        font-family: $font-family-primary;
        font-size: 15px;

        i::before {
          font-size: 10px;
          margin-right: 5px;
        }
      }
  
      .message {
        font-family: $font-family-messages;
        color: $your-message-color;
        font-size: 14px;
        letter-spacing: 1px;
  
        i::before {
          color: $color-white;
        }
      }
    }
  
    .date {
      @include column;
      justify-content: space-between;
      align-items: flex-end;
      margin-left: auto;
  
      .data {
        color: $icon-color;
        font-family: $font-family-primary;
        font-size: 12px;
        margin: 0;
        padding: 4px 0;
      }
  
      i {
        transform: rotate(45deg);
        padding: 4px 0;
  
        &::before {
          color: $icon-color;
          font-size: 16px;
        }
      }
  
      .unread {
        background-color: $active;
        border-radius: 50px;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        span {
          color: $color-white;
          font-family: $font-family-primary;
          font-size: 12px;
        }
      }
    }
  }

  .active {
    background-color: $active;
 
    &:hover {
     background-color: $active;
    }
  }
}

.return-to-users {
  position: relative;
  display: none;
  padding: 5px 15px;
  cursor: pointer;

  button.icon {
    @include button-with-icon;

    i::before {
      color: $icon-color;
      font-size: 18px;
    }
      
    &:hover i::before {
      @include icon-hover;
    }
  }

  @include for-tablet-portrait-up {
    display: flex;
  }

  &:hover .users{
    @include dropdown-menu-hover;
  }

  > .users {
    padding: 10px 0;
    z-index: 3;
    border-radius: 3px;
    box-shadow: 0 1px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
    position: absolute;
    background-color: $enter;
    top: 40px;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    height: 400px;
  }
}

