@import '_variables';

//Media Queries

@mixin for-desktop {
    @media (max-width: 1300px) { @content; }
}

@mixin for-desktop-up {
    @media (max-width: 1170px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (max-width: 991.98px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (max-width: 767.98px) { @content; }
}

@mixin for-phone-only {
    @media (max-width: 575.98px) { @content; }
}

//selectors

$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
    $label-selector: $label-selector,
    $slider-selector: $slider-selector,
    $content-selector: $content-selector) {
      
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}):checked {
        #{$label-selector}:nth-child(#{$i}) {
          @content;
        }
  
        #{$slider-selector} {
          transform: translateX(#{100% * ($i - 1)});
        }
  
        #{$content-selector}:nth-child(#{$i}) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }
      }
    }
}

