@import '_fonts';

//Font family

$font-family-primary: "FuturaBookC", sans-serif;
$font-family-app: "FuturaMediumC", sans-serif;
$font-family-messeges: "ProximaNova-RegularCondensed", sans-serif;

//Transitions

$transition: 0.3s ease-in;