@import '_fonts';

//Font family

$font-family-primary: "FuturaBookC", sans-serif;
$font-family-app: "FuturaMediumC", sans-serif;
$font-family-messages: "ProximaNova-RegularCondensed", sans-serif;

//Transitions

$transition: 0.2s ease-in;

//Colors

$body-bg: #a8b4c0;
$header: #322c3b;
$base: #64606d;
$transition-color: #413a4d;
$color-red: #FF0000;
$color-white: #ffffff;
$enter: #221e2a;
$button: #6f5ba1;