@import '_fonts';

//Font family

$font-family-primary: "FuturaBookC", sans-serif;
$font-family-app: "FuturaMediumC", sans-serif;
$font-family-messages: "ProximaNova-RegularCondensed", sans-serif;

//Transitions

$transition: 0.2s ease-in;

//Colors

$body-bg: #a8b4c0;
$header: #322c3b;
$base: #64606d;
$transition-color: #413a4d;
$color-red: #FF0000;
$color-white: #ffffff;
$enter: #221e2a; 
$button: #6f5ba1;
$chat: #191420;
$color-border: #110e16;
$placeholder-color: #6e6e6e;
$icon-color: #777380;
$photo-color: #4388b9;
$your-message-color: #c1aee6;
$active: #564775;
$unread: #564d67;
$hover-color: #312d3a; 
$message-color: #272131;
$orange: #f7a131;
$purple: #f731e7;